<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270595904509-28ghv8el05uhs4pv1hctre7j5e0stkm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270595904509-28ghv8el05uhs4pv1hctre7j5e0stkm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPAYVrXa_XpuxucReFzd61lHi_hqRjiv8</string>
	<key>GCM_SENDER_ID</key>
	<string>270595904509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shouz.network</string>
	<key>PROJECT_ID</key>
	<string>shouz-4aa71</string>
	<key>STORAGE_BUCKET</key>
	<string>shouz-4aa71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270595904509:ios:0a4426694f56535d36bf94</string>
</dict>
</plist>